html, body {
    height: 100%;
  }
  body {
    background: linear-gradient(135deg, #044f48, #2a7561);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.3;
    overflow: hidden;
  }

  /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 8px;
}

.button{
  background: linear-gradient(120deg, #103641, #0e3f24);
}


  .bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: url("./BGT2.jpg") repeat 0 0;
    background-size: cover;
    filter: blur(80px);
    transform: scale(1.2);
  }

  .chat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100vh;
    max-height: 600px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    /*background: rgb(255, 255, 255);*/
    background: rgba(216, 216, 216, 0.897);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }


  .chat-title {
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 10px 10px 10px;
  }
  .chat-title h1, .chat-title h2 {
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
    
  }
  .chat-title h2 {
    color: rgba(255, 255, 255, .5);
    font-size: 15px;
    letter-spacing: 1px;
  }

  .message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    /*background: rgba(0, 0, 0, .3);*/
    background: linear-gradient(120deg, #36859b, #35a768);
    color: #fff;
    margin: 8px 0;
    font-size: 15px;
    line-height: 1.4;
    margin-left: 10px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.267);
  }


  .messages {
    flex: 1 1 auto;
    color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .message-box {
    flex: 0 1 40px;
    width: 100%;
    background: rgba(0, 0 , 0, 0.3);
    padding: 10px;
    position: relative;
  }

  .message-input {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgba(255, 255, 255, .7);
    font-size: 11px;
    height: 17px;
    margin: 0;
    padding-right: 20px;
    width: 265px;
  }

  


  .message-submit {
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 10px;
    color: #fff;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none !important;
    
  }

  .message.message-personal {
    float: right;
    color: #fff;
    text-align: right;
    background: linear-gradient(120deg, #248a52, #257287);
    border-radius: 10px 10px 0 10px;
    margin-right: 10px;
  }

  .input-group-field{
    height: 40px;
  }
